Balance.Service/Service References/ServiceReference_LocalRealtimeData/RealTimeData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAnalogData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myOrganizationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="myTagName" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="myTagValue" type="tns:ArrayOfDecimal" />
            <s:element minOccurs="0" maxOccurs="1" name="myKeyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDecimal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="decimal" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetAnalogDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetDigitalData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myOrganizationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="myTagName" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="myTagValue" type="tns:ArrayOfBoolean" />
            <s:element minOccurs="0" maxOccurs="1" name="myKeyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBoolean">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="boolean" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetDigitalDataResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SetAnalogDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetAnalogData" />
  </wsdl:message>
  <wsdl:message name="SetAnalogDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetAnalogDataResponse" />
  </wsdl:message>
  <wsdl:message name="SetDigitalDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetDigitalData" />
  </wsdl:message>
  <wsdl:message name="SetDigitalDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetDigitalDataResponse" />
  </wsdl:message>
  <wsdl:portType name="RealTimeDataSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAnalogData">
      <wsdl:input message="tns:SetAnalogDataSoapIn" />
      <wsdl:output message="tns:SetAnalogDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDigitalData">
      <wsdl:input message="tns:SetDigitalDataSoapIn" />
      <wsdl:output message="tns:SetDigitalDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RealTimeDataSoap" type="tns:RealTimeDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAnalogData">
      <soap:operation soapAction="http://tempuri.org/SetAnalogData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDigitalData">
      <soap:operation soapAction="http://tempuri.org/SetDigitalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RealTimeDataSoap12" type="tns:RealTimeDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAnalogData">
      <soap12:operation soapAction="http://tempuri.org/SetAnalogData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDigitalData">
      <soap12:operation soapAction="http://tempuri.org/SetDigitalData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RealTimeData">
    <wsdl:port name="RealTimeDataSoap" binding="tns:RealTimeDataSoap">
      <soap:address location="http://192.168.101.212/WebService/RealTimeData.asmx" />
    </wsdl:port>
    <wsdl:port name="RealTimeDataSoap12" binding="tns:RealTimeDataSoap12">
      <soap12:address location="http://192.168.101.212/WebService/RealTimeData.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>